h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
#js-showing {
  display: none;
}

#fun-showing {
  display: none;
}
.intro {
  margin: 10px auto 10px auto;
  max-width: 90%;
  background-color: aquamarine;
}
.card {
  border:solid 2px #0088cc;
  margin: 10px auto 10px auto;
  max-width: 80%;
  box-shadow: 0px 1px 15px 1px #8b8eaf;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}
